// imports
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400:700');


// global variables

$lighter-blue: #80a0db;
$light-blue: #6088d2;
$blue: #4070c9;
$dark-blue: #315DAF;
$darker-blue: #284C8F;

$light: #e8eded;
$dark: #22221c;
$red: #e4112a;

// update bulma globals
$family-sans-serif: "Lato", sans-serif;
$primary: $blue;
$link: $blue;


// global styles

html {
  background: linear-gradient(to right top, $light-blue, $dark-blue);
}

html,
body {
  height: 100%;
}

body {
  padding: 30px !important; // Override body padding added when swal dialog is active
}
